@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0%;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: #515151;
}

.footer li a {
  color: rgb(159, 152, 152);
}

.links {
  width: 44%;
}

.links ul {
  width: 70%;
}

.links ul li {
  list-style-type: none;
  margin: 0% 1%;
}

.her {
  background: url("./assets/1.png");
}

.about {
  height: 60vh;
  background: url("./assets/1.png");
}

.donate {
  height: 60vh;
  background: url("./assets/b.png");
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
}

.contact {
  height: 60vh;
  background: url("./assets/c.png");
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
}

.eventImg {
  filter: brightness(0.6);
}

.mobile {
  display: none;
}
